//General page styles

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

//Specific styles - Setup of card container

//Specific styles - Header and Footer

//Specific styles - Main business card contents
